@font-face {
   font-family: 'Barlow';
   src: url(./assets/fonts/Barlow-Medium.ttf);
   font-weight: 500;
}

@font-face {
   font-family: 'Barlow';
   src: url(./assets/fonts/Barlow-Bold.ttf);
   font-weight: 700;
}

@font-face {
   font-family: 'Barlow';
   src: url(./assets/fonts/Barlow-Black.ttf);
   font-weight: 900;
}

:root {
   --clr-primary-1: 220, 50%, 17%;
   --clr-primary-2: 0, 0%, 100%;

   --clr-neutral-1: 22, 89%, 52%;
   --clr-neutral-2: 22, 100%, 69%;
   --clr-neutral-3: 221, 23%, 58%;
   --clr-neutral-4: 198, 28%, 93%;
}

$grid-gap: 1.87rem; 
$mobile-gap: 1.5rem;

body {
   font-family: 'Barlow', sans-serif;
   font-size: 1rem;
   font-weight: 500;
   line-height: 1.625rem;
   color: hsl(var(--clr-neutral-3));

   background-color: hsl(var(--clr-primary-2));
}

.heading-xl {
   font-size: 3.5rem;
   font-weight: 900;
   line-height: 3.5rem;
   text-transform: uppercase;
   color: hsl(var(--clr-primary-1));

   @media (max-width: 960px) {
      font-size: 3rem;
      line-height: 3rem;
   }
}

.heading-l {
   font-size: 2rem;
   font-weight: 900;
   line-height: 2.25rem;
   text-transform: uppercase;
   color: hsl(var(--clr-primary-1));

   @media (max-width: 960px) {
      font-size: 2rem;
   }
}

.heading-m {
   font-size: 1.5rem;
   font-weight: 900;
   line-height: 1.75rem;
   text-transform: uppercase;
   color: hsl(var(--clr-primary-1));

   @media (max-width: 960px) {
      font-size: 1.5rem;
   }
}

.container {
   max-width: 69.3rem;
   margin: 0 auto;
   padding-inline: $grid-gap;

   @media (max-width: 960px) {
      padding-inline: $mobile-gap;
   }
}

header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-block: 3.44rem 5.19rem;

   @media (max-width: 960px) {
      padding-block: 2.5rem 3.88rem;
   }

   @media (max-width: 690px) {
      padding-block: 1.69rem 1.5rem;
   }
}

.header-logo {
   cursor: pointer;
}

button {
   font-size: 1rem;
   font-weight: 700;
   line-height: 1.625rem;
   text-transform: uppercase;
   border: none;
   border-radius: 0.5rem;
   padding: 1rem 1.65rem;
   cursor: pointer;
   transition: 0.2s;
}

.btn-1 {
   color: hsl(var(--clr-primary-1));
   background: hsl(var(--clr-neutral-4));

   &:hover {
      color: hsl(var(--clr-primary-2));
      background: hsl(var(--clr-primary-1));
   }
}

.btn-2 {
   color: hsl(var(--clr-primary-2));
   background: hsl(var(--clr-neutral-1));

   &:hover {
      color: hsl(var(--clr-primary-2));
      background: hsl(var(--clr-neutral-2));
   }
}

.grid-container {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: 30rem 30rem;
   gap: $grid-gap;

   & img {
      object-fit: cover;
      border-radius: 1.25rem;
      overflow: hidden;
      height: 100%;
   }

   @media (max-width: 960px) {
      grid-template-rows: 29.875rem 27.8125rem 15.75rem;
   }

   @media (max-width: 690px) {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 22.875rem 20.6875rem 12.0625rem 22.07rem;
      gap: $mobile-gap;
   }
}

.desktop {
   display: block;

   @media (max-width: 960px) {
      display: none;
   }
}

.tablet {
   display: none;

   @media (max-width: 960px) {
      display: block;
   }

   @media (max-width: 690px) {
      display: none;
   }
}

.full-size-pic {
   display: none;

   @media (max-width: 690px) {
      display: block;
   }

   @media (max-width: 385px) {
      display: none;
   }
}

.mobile {
   display: none;

   @media (max-width: 385px) {
      display: block;
   }
}

.main-info {
   grid-area: 1/1/2/7;
   max-width: 27.8125rem;
   display: flex;
   flex-direction: column;
   justify-content: center;

   @media (max-width: 690px) {
      grid-area: 1/1/2/7;
      text-align: center;
      max-width: none;
   }
}

.product-desc {
   font-size: 1.125rem;
   margin-block: 1.5rem 2.5rem;

   @media (max-width: 960px) {
      font-size: 1rem;
      margin-block: 2.12rem 2.44rem;
   }
}

.desc-bottom {
   display: flex;
   align-items: center;

   @media (max-width: 960px) {
      justify-content: space-between;
   }
}

.release-date {
   margin-left: 2.5rem;

   @media (max-width: 960px) {
      margin: 0;
   }
}

main {
   width: 100%;
   position: relative;
   overflow: hidden;
}

.product-pic-1 {
   grid-area: 1/7/2/13;
   position: relative;

   @media (max-width: 960px) {
      grid-area: 1/8/2/13;
      height: 30rem;
      width: 160%;
   }

   @media (max-width: 690px) {
      grid-area: 2/1/2/7;
      height: 20.6875rem;
   }

   & img {
      @media (max-width: 690px) {
         width: 100%;
         height: 20.6875rem;
         transform: scale(1);
         transform-origin: top left;
         position: absolute;
         top: 0;
         left: 0;
      }
   }

   &::after {
      position: absolute;
      content: '';
      background-image: url(./assets/images/shared/pattern-square.svg);
      background-repeat: no-repeat;
      top: 0;
      left: 33.7rem;
      width: 15.9375rem;
      height: 15rem; 
      
      @media (max-width: 960px) {
         display: none;
      }
   }
}

.product-pic-2 {
   grid-area: 2/1/2/4;
   position: relative;

   & img {
      @media (max-width: 690px) {
         width: 100%;
         height: 12.0625rem;
         transform: scale(1);
         transform-origin: top left;
         position: absolute;
         top: 0;
         left: -3rem;
      }
   }   

   @media (max-width: 960px) {
      grid-area: 2/1/2/5;
   }

   @media (max-width: 690px) {
      grid-area: 3/1/3/3;
      height: 12.0625rem;
      width: 160%;
      left: 5rem;
      transform: translateX(-50%);
   }

   

& .layer {
   background-color: hsl(var(--clr-neutral-1), 0.96);
   mix-blend-mode: multiply;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 1.25rem;

   @media (max-width: 690px) {
      left: -3rem;
      }
   }

   &::after {
      position: absolute;
      content: '';
      background-image: url(./assets/images/shared/pattern-square.svg);
      background-repeat: no-repeat;
      top: 50%;
      right: 16.8rem;
      width: 15.9375rem;
      height: 15rem;

      @media (max-width: 960px) {
         display: none;
      }
   }
}


.product-pic-3 {
   grid-area: 2/4/2/9;
   position: relative;

   & img {
      @media (max-width: 690px) {
         width: 100%;
         height: 12.0625rem;
         transform: scale(1);
         transform-origin: top left;
         position: absolute;
         top: 0;
         left: 0;
      }
   } 

   @media (max-width: 960px) {
      grid-area: 2/5/2/13;
   }

   @media (max-width: 690px) {
      grid-area: 3/3/3/7;
   }
}

.wireless-container {
   grid-area: 2/10/2/13;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 1.69rem;

   @media (max-width: 960px) {
      grid-area: 3/1/3/13;
      flex-direction: row;
      gap:2.25rem;
      align-items: center;
   }

   @media (max-width: 690px) {
      grid-area: 4/1/4/7;
      flex-direction: column;
      gap: $mobile-gap;
      text-align: center;
   }

   & h2 {
      max-width: 15.9375rem;
   }
}


.bottom-grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: $grid-gap;
   margin-block: 10.5rem 8rem;

   @media (max-width: 960px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      margin-block:4.27rem 8.88rem;
      gap: 4.5rem;
   }

   @media (max-width: 690px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      margin-block:3.75rem 6rem;
      gap: 4rem;
   }
}

.bottom-container {

   & h3 {
      max-width: 12.8rem;

      @media (max-width: 960px) {
            max-width: 12.8rem;
      }
   }

   @media (max-width: 960px) {
      max-width: 17.5625rem;
   }

   @media (max-width: 690px) {
      max-width: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
   }
}

.svg-wrapper {
   display: grid;
   place-content: center;
   width: 4.0625rem;
   height: 4.0625rem;
   background: hsl(var(--clr-neutral-1));
   border-radius: 1.25rem;
   margin-bottom: 3rem;

   @media (max-width: 960px) {
      margin-bottom: 2.5rem;
   }

   @media (max-width: 690px) {
      margin-bottom: 3rem;
   }
}

.features-desc {
   margin-top: 1.5rem;
}

footer {
   display: flex;
   justify-content: center;

   & span {
      font-weight: 700;
   }
}

.footer-content {
   margin-bottom: 2.44rem;

   @media (max-width: 960px) {
      margin-bottom: 2.69rem;
   }

   @media (max-width: 690px) {
      margin-bottom: 3.13rem;
   }
}



